extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/add-user", method="POST")
            .form-control
                label(for="title") Try to add new user
                input(type="text", name="title")#title
            button.btn(type="submit") Add User